.admin-formulaire {

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid $color__carousel1;
    padding: 10px;
    background-color: $color__link__menu-hover;
   
   h3 {
       text-align: center;
       font-size: clamp(1rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
       color: $color__link-hover; 
   }
   button {
    outline: none;
    border: 5px solid #6304c9;
    background-color: #8d35ec;
    width: 160px;
    margin: 0 auto;
    margin-top: 10px;
    transition: ease 0.5s;
    
   }
   button:hover, button:focus {
    border: 5px solid  #8d35ec;
    background-color: #6304c9;
}
   input, textarea {
    outline: none;
}
}
