// .post {
 
// }
.single-post {
    background-color: $color__link__site-title-visited;
}
.entry-header {
     flex-direction: column ;
     border: none !important;
     .entry-meta {
        border-bottom: 5px solid $color__carousel1;
        width: 40%;
        margin-bottom: 2%;
    }
     }

.entry-content {
   
    border: 5px solid $color__carousel1;
    width: 80%;
    margin: 0 auto;
    background-color: $color__link__menu-hover;
    padding: 10px;
    
}
.entry-footer {
    border: 5px solid $color__carousel1;
    background-color: $color__link__menu-hover;
    width: 30%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
   .cat-links{
    display: inherit;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}
}