$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link__menu: #004966; //royalblue
$color__link__menu-visited: rgb(40, 4, 51); //purple
$color__link__menu-hover: #b0b0ff; //midnightblue
$color__text-main: #404040;

$color__link__site-title: #1b0dd3; //royalblue
$color__link__site-title-visited: #6304c9; //purple
$color__link__site-title-hover: #0d87c0; //midnightblue

$color__link: #4169e1; //royalblue
$color__link-visited: #3b023b; //purple
$color__link-hover: #191970; //midnightblue

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__carousel1:rgb(175, 104, 255);//couleur carou 1
$color__carousel2: rgb(142, 0, 185);//couleur carou 2
$color__carousel3: rgb(215, 81, 219);//couleur carou 3


$color__title:rgb(181, 62, 228);//couleur titre du site

$color__bg-home:rgb(214, 181, 251);//couleur de bg de la page principale