.main-navigation {// style de la navigation principale
	display: block;
	width: 100vw;


	ul {
		display: none;
		position: absolute;
		width: 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: $color__title;
		text-align: left;
		transition: 0.5s;


		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

		

			// ul {
			// 	left: -999em;
			// 	top: 0;
			// }


			li {
				a{
					padding-left: 20px;
				}

				&:hover>ul,
				&.focus>ul {
					display: block;
					left: auto;
				}
			}


			a {
				width: 100%;
			}


		
		}

		li:hover>ul,
		li.focus>ul {
			left: 0;

		}

		li a[href='#']::after{
			position: absolute;
			content: "+";
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 90%;
			right: 0;
		}
		li.focus a[href='#']::after, a[href='#']:hover::after {
			content: "-";
		}


	}

	li {
		position: relative;
		flex: 1;

		&:hover>a,
		&.focus>a {

		}


	}

	a {
		display: block;
		text-decoration: none;
		padding: .5rem;
	}

	

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding: 0;
	//	transition : transform .25s;
	//	transform : rotate(0deg);
	border: 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background: inherit;
}



.menu-toggle:active {
	transform: scale(0.99);
}

/*
.main-navigation.toggled .menu-toggle{
	transform : rotate(90deg);
}
*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

/* ---------------------------------------------------------------------------
menu tablet
------------------------------------------------------------------------------ */
@media screen and (min-width: 37.5em) {
	.main-navigation {
		width: 80%;
		margin: 0 auto;
		font-weight: bold;
	}


	.menu-toggle {
		display: none;
	}

	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		position: static;
		justify-content: space-around;

		ul {
			display: none;
		}

		a[href='#']::after {
			display: none;
		}

		li:hover ul {
			display: block;
			opacity: 1;
			animation: anim-ul 0.5s forwards;
		}

	}
}

@keyframes anim-ul {//animation du ul fade-in
	0%{opacity: 0; }
	100%{opacity: 1;}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}